@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend';
}
body{
    margin: 0;
}
#header-section {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    position: fixed;

    padding: 0 5%;
    background-color: rgb(43, 81, 112);
    font-size: 16px;

    width: 100vw;
    height: 10vh;

    z-index: 10;
}

#header-section p {
    color: aliceblue;
}

#header-section a {
    color: aliceblue;
    text-decoration: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20%;
}
.section-tab {
    height: 4em;
}

.section-tab a{
    display: flex;
    align-items: center;

    height: 100%;
    padding: 5px 10px;
}

.section-tab a:hover {
    filter: drop-shadow(0 0 10px #ffc65b);
}

/* Home/Profile Section */
#home-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(1, 34, 47);
    padding-top: 75px;
    gap: 10px;

    overflow: hidden;
}

#profile-container{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

#profile-container .big-name-background {
    /* background-color: rgb(106, 186, 255); */
    color: aliceblue;
    position: absolute;
    text-align: right;
    z-index: 1;
}

#profile-container img{
    position: absolute;
    bottom: 0;
    z-index: 2;
    transition: 0.5s ease-out;
}

#profile-container img:hover {
    filter: drop-shadow(0 0 10px #66a4d440);
}

#profile-container .profile-bg-glow {
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 40%;
    filter: blur(80px);
    opacity: 20%;
    z-index: 0;
}
#profile-container .short-description {
    /* background-color:rgb(84, 44, 44); */
    position:absolute;
}

/* About Section */
#about-section {
    display: flex;
    flex-direction: column;
    background-color: #ffb623;
}

/* Project Sections */
#project-section {
    display: flex;
    flex-direction: column;
    background-color: rgb(1, 32, 79);
    color: aliceblue;
}

/* Contact Section */
#contacts-section {
    display: flex;
    flex-direction: column;
    background-color: #ffb623;
}

@media (min-width:1220px) {
    #header-section {
        height: 10vh;
    }

    .navbar {
        padding-right: 10%;
    }

    /* Home/Profile Section */
    #profile-container{
        height: 1100px;
        width: 80%;
        font-size: 36px;
    }
    #profile-container img {
        width: 1150px;
        left: 40%;
    }
    #profile-container .big-name-background {
        padding-top: 0.5em;
        font-size: 5em;
        width: 1200px;
        right: 10%;
    }
    #profile-container .profile-bg-glow {
        width: 600px;
        height: 800px;
        right: -2%;
        bottom: -350px;
    }
    #profile-container .short-description {
        font-size: 0.75em;
        width: 400px;
        top: 65%;
        left: 5%;
    }

    /* About Section */
    #about-section {
        padding: 10%;
        height: 1020px;
    }

    /* Project Sections */
    #project-section {
        padding: 10%;
        height: 1000px;
    }

    /* Contacts Sections */
    #contacts-section {
        padding: 10%;
        height: 460px;
    }
}

@media (max-width:1221px) and (min-width: 480px){

    #header-section {
        flex-direction: column;
        justify-content: center;
        font-size: 36px;
        gap: 1vh;
    }

    #header-section p {
        text-align: center;
        font-size: 0.5em;    
    }
    
    .navbar {
        /* background-color: antiquewhite; */
        align-items: center;
        width: 80vw;
        height: 5vh;    
        font-size: 0.75em;
        gap: 3%;
    }
    
    .section-tab a{
        /* background-color: #ffb623; */
        font-size: 3em;
        flex: 1;
    }

    /* Home/Profile Section */
    #profile-container{
        padding-top: 10vh;
        height: 50vh;
        width: 80%;
        font-size: 36px;
    }
    #profile-container .big-name-background {
        font-size: 3.5em;
        width: 750px;
        right: 10%;
    }
    #profile-container img {
        width: 800px;
        left: 45%;
    }

    #profile-container .profile-bg-glow {
        width: 600px;
        height: 800px;
        right: -40%;
        bottom: -40%;
        opacity: 10%;
    }
    #profile-container .short-description {
        font-size: 0.65em;
        width: 500px;
        top: 80%;
        left: 5%;
        z-index: 3;
    }

    /* About Section */
    #about-section {
        padding: 15% 5%;
        height: 40vh;
        font-size: 36px;
    }

    #about-section h3 {
        font-size: 2em;
    }
    #about-section #description {
        padding: 5vh;
    }

    /* Project Sections */
    #project-section {
        padding: 15% 5%;
        height: 60vh;
    }

    /* Contacts Sections */
    #contacts-section {
        padding: 10%;
        height: 380px;
    }
}